<!-- sitewomen\women\templates\women\show_post.html -->
{% extends 'base.html' %}

{% block breadcrumbs %}
    <!--- Метки --->
    {% with post.tags.all as tags %}
        {% if tags %}
            <ul class="tags-list">
                <li> Метки: </li>
                {% for tag in tags %}
                    <li><a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
    <h1> {{ title }} </h1>
    {% if post.photo %}
        <p><img class="img-article-left" src="{{ post.photo.url }}" alt=""></p>
    {% endif %}
    <p> {{ post.content |linebreaks }}</p>
{% endblock %}